<div class="wrapper">
  <div class="box">
    <div class="row">

      <!-- sidebar -->
      <div class="column col-sm-3" id="sidebar">
        <a class="logo" href="#/" translate="THAI"></a>
        <ul class="nav">
          <li class="active">
            <a href="" ng-click="gotoAnchor('about')" translate="ABOUT"></a>
          </li>
          <li>
            <a href="" ng-click="gotoAnchor('courses')" translate="THAI_CLASS"></a>
          </li>
          <li>
            <a href="" ng-click="gotoAnchor('others')" translate="OTHERS"></a>
          </li>
          <li>
            <a href="" ng-click="gotoAnchor('contact_us')" translate="CONTACT_US"></a>
          </li>
        </ul>
        <ul class="nav hidden-xs" id="sidebar-footer">
          <li>
            <h3 translate="TEACHER"></h3><span translate="TEACHER_DESCRIPTION"></span> <i class="glyphicon glyphicon-thumbs-up"></i>
            <h4>
              <span translate="HONG_KONG"></span>
              <span class="pull-right">
                <a href="" ng-click="changeLanguage('zh_TW')" translate="TRADITIONAL_CHINESE"></a> / <a href="" ng-click="changeLanguage('zh_CN')" translate="SIMPLIFIED_CHINESE"></a>&nbsp;
              </span>
            </h4> 
          </li>
        </ul>
      </div>
      <!-- /sidebar -->

      <!-- main -->
      <div class="column col-sm-9" id="main">
        <div class="padding">
          <div class="full col-sm-9">

            <!-- about -->

            <div class="col-sm-12" id="about">   
              <div class="page-header text-muted" translate="SITE_TITLE"></div> 
            </div>

            <!--/about body -->
            <div class="row">    
              <div class="col-sm-10">
                <p translate="SITE_DESCRIPTION_1"></p>
                <p translate="SITE_DESCRIPTION_2"></p>
                <p translate="SITE_DESCRIPTION_3"></p>
                <p translate="SITE_DESCRIPTION_4"></p>
                <p translate="SITE_DESCRIPTION_5"></p>
              </div>
              <!--
              <div class="col-sm-2">
                <a href="#" class="pull-right"><img src="http://api.randomuser.me/portraits/thumb/men/19.jpg" class="img-circle"></a>
              </div>
              --> 
            </div>

            <!--/courses -->
            <div class="col-sm-12" id="courses">  
              <div class="page-header text-muted divider" translate="THAI_CLASS"></div>
            </div>

            <!--/courses body -->
            <div class="row">    
              <div class="col-sm-10">
                <h3 translate="INDIVIDUAL_CLASS"></h3>
                <!--
                <h4>
                  <small class="text-muted">1 hour ago • <a href="#" class="text-muted">Read More</a></small>
                </h4>
                -->
                <p translate="INDIVIDUAL_CLASS_DESCRIPTION"></p>
                <p translate="INDIVIDUAL_CLASS_PRICE"></p>
              </div>
              <!--
              <div class="col-sm-2">
                <a href="#" class="pull-right"><img src="http://api.randomuser.me/portraits/thumb/men/86.jpg" class="img-circle"></a>
              </div>
              -->
            </div>

            <div class="row divider">    
              <div class="col-sm-12"><hr></div>
            </div>

            <div class="row">    
              <div class="col-sm-10">
                <h3 translate="GROUP_CLASS"></h3>
                <!--
                <h4><span class="label label-default">devgarage.com</span></h4><h4>
                  <small class="text-muted">2 days ago • <a href="#" class="text-muted">Read More</a></small>
                </h4>
                -->
                <p translate="GROUP_CLASS_DESCRIPTION"></p>
                <p translate="GROUP_CLASS_PRICE"></p>
              </div>
              <!--
              <div class="col-sm-2">
                <a href="#" class="pull-right"><img src="http://api.randomuser.me/portraits/thumb/men/19.jpg" class="img-circle"></a>
              </div>
              -->
            </div>

            <div class="row divider">    
              <div class="col-sm-12"><hr></div>
            </div>

            <div class="row">    
              <div class="col-sm-10">
                <h3><span translate="TRAVELLING_CLASS"></span>（<span translate="SPEAKING_CLASS"></span>）<span class="label label-info" translate="NEW"></span></h3>
                <!--
                <h4>
                  <small class="text-muted">3 days ago • <a href="#" class="text-muted">Read More</a></small>
                </h4>
                -->
                <p translate="TOTAL_LESSONS"></p>
                <ul>
                  <li translate="LESSON_1"></li>
                  <li translate="LESSON_2"></li>
                  <li translate="LESSON_3"></li>
                  <li translate="LESSON_4"></li>
                  <li translate="LESSON_5"></li>
                  <li translate="LESSON_6"></li>
                  <li translate="LESSON_7"></li>
                  <li translate="LESSON_8"></li>
                  <li translate="LESSON_9"></li>
                  <li translate="LESSON_10"></li>
                  <li translate="LESSON_11"></li>
                  <li translate="LESSON_12"></li>
                </ul>
                <p translate="SPEAKING_CLASS_PRICE"></p>
              </div>
              <!--
              <div class="col-sm-2">
                <a href="#" class="pull-right"><img src="http://api.randomuser.me/portraits/thumb/women/17.jpg" class="img-circle"></a>
              </div>
              -->
            </div>

            <!--/others -->
            <div class="col-sm-12" id="others">  
              <div class="page-header text-muted divider" translate="OTHERS"></div>
            </div>

            <!--/others body -->
            <div class="row">    
              <div class="col-sm-10">
                <p translate="TRANSLATION"></p>
                <p translate="TRANSLATION_DESCRIPTION"></p>
              </div>
              <!--
              <div class="col-sm-2">
                <a href="#" class="pull-right"><img src="http://api.randomuser.me/portraits/thumb/men/86.jpg" class="img-circle"></a>
              </div>
              -->
            </div>

            <!--
            <div class="col-sm-12">
              <div class="page-header text-muted divider">
                Up Next
              </div>
            </div>

            <div class="row">    
              <div class="col-sm-4 text-center">
                <h4>Related 1</h4>
                <a href="#"><img src="//placehold.it/400/f0f0f0" class="img-respsonsive img-circle"></a>
              </div>
              <div class="col-sm-4 text-center">
                <h4>Related 2</h4>
                <a href="#"><img src="//placehold.it/400/f0f0f0" class="img-respsonsive img-circle"></a>
              </div>
              <div class="col-sm-4 text-center">
                <h4>Related 3</h4>
                <a href="#"><img src="//placehold.it/400/f0f0f0" class="img-respsonsive img-circle"></a>
              </div>
            </div>
            -->

            <!--/contact_us -->
            <div class="col-sm-12" id="contact_us">
              <div class="page-header text-muted divider" translate="CONTACT_US"></div>
            </div>

            <!--/contact_us body -->
            <div class="row">
              <div class="col-sm-6">
                <div id="fb-root"></div>
                <a href="mailto:info@thaiinhk.com" target="_top">info@thaiinhk.com</a> <small class="text-muted">|</small> <a href="https://www.facebook.com/thaiinhk" target="_blank">Facebook</a>
              </div>
            </div>

            <hr>

            <div class="row" id="footer">    
              <div class="col-sm-6">

              </div>
              <div class="col-sm-6">
                <p>
                  <a href="#/" class="pull-right">©Thaiinhk.com</a>
                </p>
              </div>
            </div>

            <hr>


          </div><!-- /col-9 -->
        </div><!-- /padding -->
      </div>
      <!-- /main -->

    </div>
  </div>
</div>
